<section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <H1>Pedro Henrique</H1>
        <p>Olá, meu nome é Pedro, eu sou desenvolvedor tenho experiência em frameworks Angular e Node.js, HTML, CSS, Javascript, .Net, bootstrap e Sqlserver</p>
        <btn-primary text="download cv"></btn-primary>
    </div>
    <img-main-animation></img-main-animation>
</section>

<div class="about-content">
    <span class="title-about">About me</span>
    <p class="text-about">      
        Minha jornada profissional inclui experiências significativas, como a atuação como Analista de BI na Collar Capital, onde extraí e analisei dados para identificar tendências e padrões, e como Desenvolvedor Front End Júnior na Conecta Educação Digital, onde contribuí para projetos estruturados e eficientes utilizando Angular, além de integrar dados de diversos serviços de back-end e bancos de dados. 
        Minha formação acadêmica inclui um Bacharelado em Sistemas da Informação pela Universidade Santa Cecília, concluído em 2021, e atualmente, estou cursando um Tecnólogo em Big Data e Inteligência Analítica na Universidade Anhembi Morumbi, com previsão de conclusão em dezembro de 2024.</p>
</div>