<section>
    <h2>Projects</h2>
    <div class="card">
        <div class="card-project">
            <h3>Projeto Angular</h3>
            <div class="topics">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>NodeJs</span>
            </div>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    
        <div class="card-project">
            <h3>Projeto Angular</h3>
            <div class="topics">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>NodeJs</span>
            </div>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-project">
            <h3>Projeto Angular</h3>
            <div class="topics">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>NodeJs</span>
            </div>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    
        <div class="card-project">
            <h3>Projeto Angular</h3>
            <div class="topics">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>NodeJs</span>
            </div>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>

    <btn-primary text="VER TODOS PROJETOS"></btn-primary>
</section>